@use '../abstracts' as *;
.activities {
	padding-bottom: 40px;
	background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
	@include breakpoint(tablet) {
			padding-bottom: 80px;
		}
	&__header {
		background-image: $gradient-orange;
		padding: 25px 30px;
		color: $white-color;
		border-radius: 10px;
		margin-bottom: 60px;
		@include breakpoint(tablet) {
			margin-bottom: 0;
		}
	}

	&__item {
		padding: 56px 28px 32px;
		margin-bottom: 40px;
		background-color: $white-color;
		border-radius: 10px;
		position: relative;
		@include breakpoint(tablet) {
			margin-bottom: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&-icon {
			width: 56px;
			height: 56px;
			display: inline-block;
			background: $gradient-orange;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;
			border-radius: 50%;
			position: absolute;
			left: 30px;
			top: -25px;
		}

		&-title {
			color: $brand-color;
			font-size: 20px;
			margin-bottom: 28px;
		}

		&-description {
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			color: $text-color;
			margin-bottom: 28px;
		}

		&-cta {
		}
	}

	.container {
		@include breakpoint(tablet) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap:40px 30px;
		}
		@include breakpoint(tablethorizontal) {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 80px 30px;

		}
	}
}
